<a href="https://colab.research.google.com/github/SAIFUL700-WQ/saiful/blob/main/08th_june.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#iterating over a list
fruits=["apple","banana","mango"]
for a in fruits:
  print(a)

apple
banana
mango

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#nested loop(akta loop er vitor ar akta loop)
for i in range(1,6):
    for j in range(1,4):
        print("i=",i,"j=",j,)

i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3
i= 4 j= 1
i= 4 j= 2
i= 4 j= 3
i= 5 j= 1
i= 5 j= 2
i= 5 j= 3

In [ ]:
numbers=[1,2,3,4,5]
total=0
for a in numbers:
  #total+=a        (same same but difflant)
  total=a+total
  print("Total sum: ",total,)

Total sum:  1
Total sum:  3
Total sum:  6
Total sum:  10
Total sum:  15

In [ ]:
numbers=[20,30,40,50,60,70]
max_num=numbers[0]
for a in numbers:
  if a>max_num:
    max_num=a
print("Maximum Number: ",max_num, )

Maximum Number:  70

In [ ]:
a=10
while a>=1:
  #a-=1
  print(a)
  a-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
b="python"
for a in b:
  print(a)

p
y
t
h
o
n

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123
1234
12345

In [ ]:
#function defination
def saiful():
  print("Hello world")
saiful()

Hello world

In [ ]:
def greet(name):
  print("Helo",name,)
greet("Saiful")

Helo Saiful

In [ ]:
monday=[4,5,1,3]
tuesday=[1,2,3,4]
wednesday=[1,2,3,4]

def saiful():
  sum=0
  for a in monday:
    sum=sum+a

  average=sum/4
  print(monday)
  print(tuesday)
  print(wednesday)
  print(average)
saiful()

[4, 5, 1, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]
3.25

In [ ]:
def greet(name,age):
  print("Helo",name,"your age is ",age,)
greet("Saiful",25),30

Helo Saiful your age is  25

(None, 30)

In [ ]:
def add(a,b):
  return a+b
result=add(10,20)
print(result)

30

In [ ]:
#lambda function
add_lambda=lambda a,b:a+b
result=add_lambda(10,20)
print(result)

print(add(10,20))
print(add_lambda(10,20))

30
30
30

In [ ]:
#from functools import reduce
#example with map()
numbers=[1,2,3,4,5]
squared=list(map(lambda x:x**2,numbers))
print(squared)

#example with filter()
evens = list(filter(lambda x: x % 2 == 0, numbers))
squared=list(map(lambda x:x**2,numbers))
print(evens,squared)

[1, 4, 9, 16, 25]
[2, 4] [1, 4, 9, 16, 25]